<!DOCTYPE html>
<html>
<head>
  <title>Stories</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Spicy+Rice" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
</head>
<body>

<div class="main">
  <h1>Heading</h1>
  <button>Learn more</button>
  <div class="navbar" id="navbarb">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"><img class="icon" id="cross" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-white.svg"></a>
    <a href='#'><%= link_to "Home", '/'%></a>
    <a href='#'><%= link_to "About", '/about'%></a>
    <a href='#'><%= link_to "Signup", '/signup'%></a>
    <a href='#'>Three</a>
    <a href='#'>Four</a>
  </div>
  <div>
  <span onclick="openNav()"><img class="icon" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg"></span>
  </div>
</div>  
  
<%= yield %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
